{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}


<div class="container d-flex flex-column">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-center p-2">
        <div name="signup_form" class="align-self-center m-3">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="is_provider" value="true">
            <div class="card border-success text-center" style="width:18rem;">

              <div class=" card-header bg-transparent border-success">Sign up </div>
              <div class="card-body text-success">
                <div id="div_id_email" class="mb-3">
                  <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="50"
                    class="form-control" required id="id_email">
                </div>
                <div id="div_id_password1" class="mb-3">
                  <input type="password" name="password1" placeholder="Password" autocomplete="new-password"
                    class="passwordinput form-control" required id="id_password1">
                </div>
                <div id="div_id_password2" class="mb-3">
                  <input type="password" name="password2" placeholder="Confirm Password" autocomplete="new-password"
                    class="passwordinput form-control" required id="id_password2">
                </div>
                <div id="div_id_is_consumer" class="">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="is_consumer" value="true" id="flexRadioDefault1"
                      checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Patient
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="is_consumer" value="false"
                      id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Provider
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent  p-2">
                <button type="submit" value="Register" class="btn btn-primary">Sign up</button>
              </div>
              <div class="card-footer bg-transparent my-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="is_terms" value="true" id="terms_of_service"
                    checked>
                  <label class="form-check-label" for="terms_of_service">
                    I agree all statements in <br><a href="{% url 'pages:terms' %}">Terms of service</a>
                  </label>
                </div>

              </div>

          </form>

        </div>
      </div>

    </div>
  </div>




  {% endblock content %}