{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}

<div class="container">
    <div class="row g-5 px-4 py-2">
        <div class="col-md-12">
            <article class="blog-post" id="howitworks">
                <h2 class="display-5 link-body-emphasis mb-4">About Conebeam Center</h2>
                <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Victor</a></p> -->
                <p style="font-style: italic;font-size:larger;">Browse, Schedule and Get images.</p>
                <br>

                <p>
                    The Conebeam Center network boasts many premium models from the best CBCT manufacturers for you to
                    choose
                    from. Each Partner site and equipment configuration is fully inspected by our team to produce the
                    best quality
                    image possible. The latest technology is used ensuring the least amount of radiation exposure
                    possible.
                </p>
                <br>

            </article>
        </div>
    </div>

</div>

{% endblock content %}