{% extends '_base.html' %}
{% load static %}

{% block title %}ImplantSavvy{% endblock title %}

{% block content %}
<style>
    .b-divider {
        width: 100%;
        height: 3rem;
        background-color: white;
        border: none;

    }

    .background-image {
        background-image: url('../../static/images/3dvolume_1.png');
        background-size: 32%;
        /* Adjust as needed */
        background-repeat: no-repeat;
        /* Prevents the image from repeating */
        background-position: right;
        /* Positions the image at the right end */
        position: relative;
        /* Required for z-index to work */
        z-index: 1;
        /* Makes the image 20% transparent */

    }
</style>

<div class="container">

    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="bg-white px-4 py-5 ">
            <div class="py-5 background-image">
                <h3 class="display-5 fw-bold text-dark col-sm-6 col-md-6 col-lg-8">
                    A SMARTER WAY<br>TO OUTSOURCE CBCT SCANNING <br>
                </h3>

                <h5 class=" mb-3">
                    BETTER DIAGNOSTIC IMAGES | LOWER PRICES | NO RISK
                </h5>
                <a class="btn btn-dark ">
                    Call 201.788.6551
                </a>

            </div>


        </div>
    </div>

</div>
<hr class="bg-light py-3 mt-2">
<div class="row g-5 px-4 py-2">
    <div class="col-md-12">
        <article class="blog-post" id="howitworks">
            <h2 class="display-5 link-body-emphasis mb-4">How it works</h2>
            <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Victor</a></p> -->
            <p style="font-style: italic;font-size:larger;">Browse, Schedule and Get images.</p>
            <br>
            <h4>Step 1: Browse Conebeam Center</h4>
            <p>
                The Conebeam Center network boasts many premium models from the best CBCT manufacturers for you to
                choose
                from. Each Partner site and equipment configuration is fully inspected by our team to produce the best
                quality
                image possible. The latest technology is used ensuring the least amount of radiation exposure possible.
            </p>
            <br>
            <h4>Step 2: Schedule appointment</h4>
            <p>
                Search Conebeam Center locations near you and schedule an appointment that fits your busy schedule by
                the most
                convenient dates and times available.
                For Providers the scheduling process is streamlined to save you and your staff valuable time.
            </p>
            <br>
            <h4>Step 3: GET IMAGES</h4>
            <p>
                You will be notified by email when your patient’s scan appointment is completed, and again when the
                image is
                available for download. The scan data is sent to you in an open DICOM format so that you can view it
                with our
                free 3D viewing software, or any other software you prefer to use. We also provide PDF reports including
                cross
                section views of your indicated regions of interest. These images have immediate clinical value when you
                don’t
                have time to manipulate and measure the 3D data.
            </p>
            <br>
        </article>
        <hr class="bg-light py-3 mt-2">
        <article class="blog-post" id="howitworks">
            <h2 class="display-5 link-body-emphasis mb-4">What People Say</h2>
            <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Victor</a></p> -->
            <p style="font-style: italic;font-size:larger;">
                Join happy customers nationwide who are already using our
                amazing service.</p>
            <p style="font-style: italic;font-size:larger;">
                Check out our Google reviews <a
                    href="https://www.google.com/search?q=cone+beam+center&sca_esv=be1f4daf33da1a0f&sxsrf=ACQVn08cuOgU3oBsQIs8NmhIodKTjkRwRA%3A1706723308885&source=hp&ei=7Ie6ZfK3M4qt0PEPksSK6AY&iflsig=ANes7DEAAAAAZbqV_HmErdiOrcOiJSez7kPSKeFk6qWN&oq=&gs_lp=Egdnd3Mtd2l6IgAqAggAMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnMgcQIxjqAhgnSPYgUOYGWJYMcAJ4AJABAJgBVKABVKoBATG4AQPIAQD4AQGoAgrCAgQQIxgnwgIKECMYgAQYigUYJ8ICCxAAGIAEGIoFGJECwgIREAAYgAQYigUYkQIYsQMYgwHCAhAQABiABBiKBRhDGLEDGIMBwgIREC4YgAQYsQMYgwEYxwEY0QPCAgsQABiABBixAxiDAcICEBAuGIAEGIoFGEMYxwEY0QPCAg4QLhiDARixAxiABBiKBeIDBRIBMSBA&sclient=gws-wiz#ip=1">here</a>
                and leave us a review
            </p>
            <br>
            <blockquote class="blockquote px-4">
                <p>
                    The staff here is very helpful, super friendly and made process easy and quick. They took less than
                    24 hours
                    to generate the image with unbeatable price in the market. Easy to schedule an appointments on the
                    call,
                    fast
                    follow up.
                </p>
            </blockquote>
            <p class="blog-post-meta px-4">By J.D.</p>
            <br>
            <blockquote class="blockquote px-4">
                <p>
                    I've used several services thus far, but ConeBeam Center has been above and beyond my expectations.
                    They are
                    very responsive and available, which was greatly appreciated. And I loved their pdf version of the
                    scan!
                </p>
            </blockquote>
            <p class="blog-post-meta px-4">by Dr.G.Y.</p>
            <br>
            <blockquote class="blockquote px-4">
                <p>
                    This is a wonderful place. Very good attention from the moment you call to make the appointment. I
                    am very
                    glad that they were able to attend me in Spanish. The price very accessible. High quality images
                    according
                    to my Doctor. I recommend this place and would give it more stars if I could. Thank You!
                </p>
            </blockquote>
            <p class="blog-post-meta px-4"> by M.R.</p>
            <br>

        </article>
        <hr class="bg-light py-3 mt-2">

        <article class="blog-post" id="service">
            <h2 class="display-5 link-body-emphasis mb-4">Services</h2>
            <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Victor</a></p> -->
            <!-- <p style="font-style: italic;font-size:larger;">Browse, Schedule and Get images.</p> -->
            <br>
            <h4>What are CBCT images used for?</h4>
            <p>
                Cone Beam CT scans can be used in multiple situations and offers benefits to you and your patients
                across the
                following areas: Dental Implants, Orthodontics, Impacted teeth, Patient Airway Assessment,
                Temporomandibular
                Joint(TMJ) and overall Dental Analysis

            </p>
            <br>
            <h4>CBCT Scan</h4>
            <p>
                Dental Cone Beam CT scans (CBCT Scans) provide high resolution, 3D volumetric images, used in Dental
                Implant
                Planning, Orthodontics, and Maxillofacial Surgery.

            </p>
            <br>
            <h4>Cephalometric </h4>
            <p>
                Cephalometric analysis depends on cephalometric radiography to study relationships between bony and soft
                tissue landmarks.

            </p>
            <br>
            <h4>Panoramic </h4>
            <p>
                Panoramic x-ray is a two-dimensional (2-D) dental x-ray examination that captures the entire mouth in a
                single
                image.

            </p>

            <br>
        </article>
        <hr class="bg-light py-3 mt-2">

        <article class="blog-post" id="locations">
            <h2 class="display-5 link-body-emphasis mb-4">Location</h2>
            <!-- <p class="blog-post-meta">January 1, 2021 by <a href="#">Victor</a></p> -->
            <!-- <p style="font-style: italic;font-size:larger;">Browse, Schedule and Get images.</p> -->
            <br>
            <h4>New York, New Jersey, Connecticut and Chicago </h4>
            <p>
                The Conebeam Center is expanding quickly to service all of our Patient needs. We currently have
                locations in
                Englewood Cliffs, Mahwah and North Bergen in NJ and in Flushing, Queens and Chelsea, Manhattan in NY.
                Coming
                soon is Stamford and additional locations in CT.
            </p>
            <br>
            <div class="px-4">
                <p><strong>New Jersey</strong></p>
                <div class="px-2 py-2">
                    <p>Conebeam Center - Englewood Cliffs</p>
                    <p>Conebeam Center - Fort Lee</p>
                    <p>Conebeam Center - Palisade Park</p>
                    <p>Conebeam Center - Mahwah</p>
                </div>

                <p><strong>New York</strong></p>
                <div class="px-2 py-2">
                    <p>Conebeam Center - Chelsea</p>
                    <p>Conebeam Center - Forest Hill</p>
                    <p>Conebeam Center - West Village</p>
                    <p>Conebeam Center - Bronx</p>
                    <p>Conebeam Center - Upper West Side</p>
                </div>

                <p><strong>Connecticut</strong></p>
                <div class="px-2 py-2">
                    <p>Conebeam Center - Stamford</p>
                </div>

                <p><strong>Chicago</strong></p>
                <div class="px-2 py-2">
                    <p>Conebeam Center - Chicago</p>
                </div>
            </div>

        </article>
        <hr class="bg-light py-3 mt-2">

        <article class="blog-post" id="support">
            <h2 class="display-5 link-body-emphasis mb-4">Support</h2>
            <h4>Resources</h4>
            <p>
                Manuals, software downloads
            </p>
            <dl>
                <dt>Ondemand3D Viewer </dt>
                <dd><a href="#" download>Download</a></dd>
                <dt>Vatech Ez3D-i Viewer </dt>
                <dd><a href="#" download>Download</a></dd>

            </dl>

            <br>
        </article>
        <hr class="bg-light py-3 mt-2">

        <article class="blog-post" id="faqs">
            <h2 class="display-5 link-body-emphasis mb-4">Frequently Asked Questions</h2>
            <p>
                Got a question? We've got answers. If you have some other questions, contact us using email.
            </p>
            <p><strong>What is a Dental Conebeam CT?</strong></p>
            <p>Dental cone beam computed tomography (CBCT) is a diagnostic imaging technique consisting of divergent
                x-ray
                beams in the shape of a cone. It takes up to 600 slice images of the patient, then reconstructs the data
                in
                3-dimensional virtual rendering for accurate diagnosis and treatment planning. It gives the clinician a
                critical 3D view of the anatomy otherwise unseen through conventional 2D X-ray imaging, while keeping
                radiation exposure to a fraction of the medical CT scan.</p>

            <p><strong>What part(s) of the anatomy is examined during a Dental CBCT</strong></p>
            <p>Dental CBCTs can be used to examine the teeth, mouth, jaw, throat, neck, and ears.</p>

            <p><strong>What are some common uses of the procedure?</strong></p>
            <p>Surgical planning for impacted teeth
                Diagnosing temporomandibular joint disorder (TMJ)
                Accurate planning for dental implant placement
                Evaluation of jaws, sinuses, nerve canals and nasal cavity
                Detecting, measuring and treating jaw tumors
                Determining bone structure and tooth orientation
                Locating the origin of pain or pathology
                Cephalometric analysis
                Reconstructive surgery</p>


            <p><strong> When is a Dental CBCT required?</strong></p>
            <p>Typically, a dental CBCT is required when a traditional dental x-ray image is not suitable or
                insufficient in
                providing the clinician with the critical anatomical information needed for a successful treatment</p>

            <p><strong>What are the consequences if the suspected condition is undiagnosed or untreated? </strong></p>
            <p>Undiagnosed dental conditions can trigger complications and lead to additional disease if not treated.
                Early
                detection of these conditions can increase the chances of successful treatment and recovery. </p>

            <p><strong>What are the risks associated with a Dental CBCT? </strong></p>
            <p>A dental CBCT is a relatively low-risk procedure as it is non-invasive. Any exposure to radiation can
                increase the risk for cancer, but the benefits of accurate diagnosis far outweigh such a risk.
                Typically, a
                CBCT scan is considered a low dose radiation procedure. </p>

            <p><strong>How much radiation will I be exposed to? </strong></p>
            <p>The radiation dosage will vary from each type of CBCT scan, however it is important to understand that
                cone
                beam technology is designed to take CT scans at far less radiation than a traditional CT tunnel scanners
                (upto
                10x less). The average amount of radiation exposure would be 75 milli Sievert. It equivalent to about
                3-4
                panoramic x-rays. </p>
            <p><strong>What are the benefits of a Dental CBCT? </strong></p>
            <p>he focused x-ray teams reduce scatter radiation, resulting in superior diagnostic image quality. A single
                scan can produce a wide variety of views and angles that can be manipulated to provide a more complete
                evaluation. Dental CBCT scan provides far more information than the conventional dental x-ray, including
                bone
                and soft tissue, allowing for more precise treatment planning. Dental CBCT is a painless, non-invasive
                technique. </p>

            <p><strong>What are the benefits of a Dental CBCT? </strong></p>
            <p>he focused x-ray teams reduce scatter radiation, resulting in superior diagnostic image quality. A single
                scan can produce a wide variety of views and angles that can be manipulated to provide a more complete
                evaluation. Dental CBCT scan provides far more information than the conventional dental x-ray, including
                bone
                and soft tissue, allowing for more precise treatment planning. Dental CBCT is a painless, non-invasive
                technique. </p>
            <p><strong>What should a patient tell the radiographer before a Dental CBCT? </strong></p>
            <p>You will need to tell the radiographer if you are pregnant or suspect that you might be pregnant. </p>

            <p><strong>Is a special diet required before a Dental CBCT? </strong></p>
            <p>There are no special preparations required for a dental CBCT. </p>

            <p><strong>What should a patient bring for a Dental CBCT? </strong></p>
            <p>Your GP or specialist may ask you to bring along any medications or copies of previous x-rays you have.
                Everything else needed will be supplied by the radiographer. </p>

            <p><strong>What should a patient wear for a Dental CBCT? </strong></p>
            <p>You can wear your normal clothes, but you will need to remove any jewelry, eyewear or other metallic
                accessories or implants around your upper body as these will show up on x-rays and may distort the
                results.
            </p>

            <p><strong>How long will a Dental CBCT take? </strong></p>
            <p>The entire visit will usually take about 10-15 minutes. The actual scan process itself is typically under
                1
                minute. </p>

            <p><strong>Post Dental CBCT instructions </strong></p>
            <p>After the scan, you will be able to resume normal activities immediately. The results of the scan will be
                sent to your doctor or you will be asked to pick them up. </p>

            <p><strong>Do I have to make an appointment? </strong></p>
            <p>Yes, please call us at 201-788-6551 to schedule an appointment. </p>

            <p><strong>How is the cost of this procedure determined? </strong></p>
            <p>The cost of your visit will depend upon the image(s) that your doctor has requested for you. When you
                call to
                schedule your appointment, be sure to read what your doctor specified on your referral slip to our
                staff. </p>

            <p><strong>What payment methods are accepted? </strong></p>
            <p>We accept all major credit cards and cash. </p>

            <p><strong>Will you bill my insurance? </strong></p>
            <p>We are an imaging facility, and unlike your doctor’s office, we are not insurance providers; therefore,
                insurance companies do not pay us directly for services. It is for this reason that we ask that our
                services
                be paid for in full at the time of your visit. </p>

            <p><strong> </strong></p>
            <p> </p>


        </article>
    </div>

</div>

{% endblock content %}